header{
    font-family: Heartless;
    font-size: 100px;
    text-align: center;
    background: #A1A6B4;
}

h1 {
    background-color:cornflowerblue;
    color: white;
    font-family: Calibri;
}

p {
    text-align: left;
    color: green;
}

* {box-sizing: border-box}

body, html {
    height: 100%;
    margin: 0;
    font-family:Arial;
}

.tablink {
    background-color: #A1A6B4;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    width: 33.3%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {background-color: #353535;}
#Gallerie {background-color: #2B303A;}
#Überuns {background-color: #394648;}
